<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="timenessApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css" />
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">        
        <title>Ta dá</title>
        <style> body { padding-top: 100px; } </style>
        <style> 
           .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        </style>


    </head>


<body>


<div style="border: 1px solid rgb(200,200,200); margin-left: 40px; margin-right: 40px;">
        <div class="container">
            <div class="row">
                <div class="page-header">
                     <h1>ta dá component</h1>
                </div>   
            </div>
        </div> 

        <div class="container">
            <div class="row">                           
                <label for="delimiter">Exibir limites de tempo</label>
                <input name="delimiter" type="checkbox" checked="true" onchange="updateDelimiter()">
            </div>
        </div>

        <div class="container">
            <div class="row">                           
                <button type="button" class="btn btn-primary" onclick="addLine()">Adicionar linha</button>
                <button type="button" class="btn btn-primary" onclick="removeLine()">Remover linha</button>
                <button type="button" class="btn btn-primary" onclick="zoomIn()">Aumentar zoom</button>
                <button type="button" class="btn btn-primary" onclick="zoomOut()">Diminuir zoom</button>
                <button type="button" class="btn btn-primary" onclick="graph(element)">Reset zoom</button>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12" id="chart_placeholder"> </div>
            </div> <!--row-->
        </div>

        <div class="container">
            <div class="row">
                <div id="legend"></div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div id="zoomEnd"></div>
            </div>
        </div>
</div>

<!-- i................ -->
<!-- Form criar evento -->
<!-- ................. -->



<!--end datepicker-->
<div div ng-controller="DatepickerDemoCtrl" style="border: 1px solid rgb(200,200,200); margin-left: 40px; margin-right: 40px; margin-top:40px;" >
        
        <div class="container">
            <div class="row">
                <div class="page-header">
                     <h1>Hacking</h1>
                </div>   
            </div>
        </div> 

        <div class="container"> 
            <div class="row">
                <button type="button" id="addTimeLineEventButtonId" 
                    class="btn btn-primary" 
                    onclick="TimeLine.addTimeLineEvent()">Criar Evento</button>
                <button type="button" id="removeTimeLineEventButtonId" 
                    class="btn btn-primary" 
                    onclick="TimeLine.removeTimeLineEvent()">Remover Evento</button>
                <button type="button" id="editTimeLineEventButtonId" 
                    class="btn btn-primary" 
                    onclick="TimeLine.editTimeLineEvent()">Editar Evento</button>
            </div>
        </div>
        
        <div class="container">    
            <div class="row">
                <div class="col-md-12">
                    <label>Pop up</label>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" 
                      ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" 
                      datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
                      ng-required="true" close-text="Close">
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>    
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Formato:</label> 
                    <select class="form-control" ng-model="format" ng-options="f for f in formats">
                        <option></option>
                    </select>
                </div>
            </div>
        <br>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">             
                    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Hoje</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="dt = '24-08-2009'">24-08-2009</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Limpar</button>
                    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="Após a restrição 'hoje'">Data mínima</button>
                </div>
            </div>
        <br>
        </div>

       
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <pre>A data selecionada é: <em>{{dt | date:'fullDate' }}</em></pre>
                </div>
            </div>
        </div>
        <hr />       


        <div class="container">
            <div class="row">
                <div class="col-md-12">   
                    <form class="form" name="form" ng-submit="TimeLine.mngrTimeLineEventForm(form)">
                        <label class="form-control">A</label>
                        <input class="form-control" type="text"> 
                        <br>
                        <label class="form-control">B</label>
                        <input class="form-control" type="text">
                        <br>
                        <label class="form-control">C</label>
                        <input class="form-control"type="text">
                        <br>
                    </form>
                </div>
            </div>
        </div>
</div>

<!-- e................ -->
<!-- ................. -->


    
<div style="border: 1px solid rgb(200,200,200); margin-left: 40px; margin-right: 40px; margin-top: 40px; margin=bottom: 40px;">
<!-- i 43............. -->
<!-- ................. -->
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="page-header">
                         <h1>Pop up's</h1>
                    </div>   
                </div>
            </div>
        </div>


        <div class="container"> 
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="PopoverDemoCtrl">
                        <h4>Pop up Dinâmico</h4>
                        <div class="form-group">
                          <label>Texto do Popup:</label>
                          <input type="text" ng-model="dynamicPopover" class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Título do pop up:</label>
                          <input type="text" ng-model="dynamicPopoverTitle" class="form-control">
                        </div>
                        <button popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" class="btn btn-default">Popover Dinâmico</button>
                        
                        <hr />
                        <h4>Pop up Posicional</h4>
                        <button popover-placement="top" popover="Acima!" class="btn btn-default">Acima</button>
                        <button popover-placement="left" popover="À Esquerda!" class="btn btn-default">Esquerda</button>
                        <button popover-placement="right" popover="À direita!" class="btn btn-default">Direita</button>
                        <button popover-placement="bottom" popover="Olhar para Baixo!" class="btn btn-default">Abaixo</button>
                        
                        <hr />
                        <h4>Pop up com 'Gatilho'</h4>
                        <p>
                          <button popover="Aparecer com chegada do mouse!" popover-trigger="mouseenter" class="btn btn-default pop">Mouse In</button>
                        </p>
                        <input type="text" value="Click em mim!" popover="Aparecer quando receber foco! Click Fora Para Apagar..."  popover-trigger="focus" class="form-control">

                        <hr />
                        <h4>Outro</h4>
                        <button Popover-animation="true" popover="Aparecer e desaparecer com efeito de esmaecimento!" class="btn btn-default">Esmaecer</button>
                        <button popover="Aqui o título!" popover-title="O Título." class="btn btn-default">Título</button>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
</div>


<!-- e43............... -->
<!-- .................. -->

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-0.12.1.js"></script>
        
	    <script src="bower_components/yad3ad-components/services/d3service.js"></script>
        <script src="bower_components/yad3ad-components/directives/clock-directive.js"></script>
        <script src="bower_components/yad3ad-components/directives/bar-directive.js"></script>
        <script src="bower_components/yad3ad-components/directives/sun-burst-directive.js"></script>

        <script src="bower_components/d3/d3.js"></script>
        
        <script src="./EventDrops/src/eventDrops.js"></script>
         
        <script type="text/javascript" src="bower_components/d3-tip/index.js"></script>

        <script src="index.js"></script>

  <style type="text/css">
  body {
    padding: 40px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    height: 1000px;
  }

  .d3-tip span {
    color: #ff00c7;
  }

  .domain {
    display: none;
  }

  .axis line {
    stroke-width: 1px;
    stroke: #eee;
    shape-rendering: crispedges;
  }

  .axis text {
    fill: #888;
  }

  rect {
    fill: #339cff;
    fill-opacity: 0.7;
  }

  rect:hover {
    fill-opacity: 1;
  }
  </style>

<br>
<br>
<div style="border: 1px solid rgb(200,200,200); margin-left: 40px; margin-right: 40px; margin-top: 40x; margin-bottom: 40 px;">
        <div class="container">
            <div class="row">
                <div class="page-header">
                     <h1>Hacking Time</h1>
                </div>  
                <div id="graph">
                </div>
            </div>
            <burst-direct></burst-direct>

        </div>
</div>


</html>
